<div
  class="min-h-[calc(100vh-64px)] flex items-start justify-center bg-gray-100 px-4 py-8"
>
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md space-y-4">
    <h1 class="text-3xl font-bold text-center text-gray-800">
      Registrar correo Gmail
    </h1>

    <form (ngSubmit)="registrarGmail()" class="space-y-4">
      <!-- Correo -->
      <div class="form-control w-full">
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Ingresa tu correo@gmail.com"
          required
          class="input input-bordered w-full"
        />
      </div>

      <!-- Botón -->
      <button type="submit" class="btn btn-neutral w-full">
        Registrar Gmail
      </button>
    </form>

    <!-- Mensaje -->
    <div *ngIf="mensaje" class="mt-4 text-center">
      <strong [innerHTML]="mensaje"></strong>
    </div>
  </div>
</div>
