<div
  class="min-h-[calc(100vh-64px)] flex items-start justify-center bg-gray-100 px-4 py-8"
>
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md space-y-4">
    <h2 class="text-3xl font-bold text-center text-gray-800">
      Registrar cuenta IMAP
    </h2>

    <form (ngSubmit)="registrarCuenta()" class="space-y-4">
      <!-- Campo Correo -->
      <div class="form-control w-full">
        <input
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="correo@dominio.com"
          class="input input-bordered w-full"
          required
        />
      </div>

      <!-- Campo Contraseña -->
      <div class="form-control w-full">
        <input
          id="password"
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Contraseña"
          class="input input-bordered w-full"
          required
        />
      </div>

      <!-- Botón Registrar -->
      <button type="submit" class="btn btn-neutral w-full">Registrar</button>
    </form>

    <!-- Mensaje de éxito o error -->
    <div *ngIf="mensaje" class="mt-4 text-center">
      <strong [innerHTML]="mensaje"></strong>
    </div>
  </div>
</div>
